<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link href="/assets/7f52f542/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/css/google-font/css.css" rel="stylesheet">
    <link href="/css/jquery-ui-1.10.3.css" rel="stylesheet">
    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <script src="/assets/3c2d67d6/jquery.js"></script>

</head>

<body class="login-body">

<div class="container">

    <form id="w0" class="form-signin" action="/login" method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="/images/login-logo.png" alt="">
        </div>

        <div class="login-wrap">
            <div class="form-group field-loginform-username required has-success">
                <input id="loginform-username" class="form-control" name="username" value="admin001" autofocus=""
                       placeholder="用户名" type="text">
                <div class="col-lg-8"><p class="help-block help-block-error"></p></div>
            </div>
            <div class="form-group field-loginform-password required">
                <input id="loginform-password" class="form-control" name="password" value="123456" placeholder="密码"
                       type="password">
                <div class="col-lg-8"><p class="help-block help-block-error"></p></div>
            </div>
            <button type="submit" class="btn btn-lg btn-login btn-block" name="login-button"><i class="fa fa-check"></i>
            </button>
        </div>

    </form>

</div>


<!-- Placed js at the end of the document so the pages load faster -->
<script src="/assets/7f52f542/js/bootstrap.js"></script>
<script src="/assets/4dfa2f84/jquery.validate.js"></script>
<script src="/assets/4bfd807b/bootstrap-table.js"></script>
<script src="/assets/4bfd807b/locale/bootstrap-table-zh-CN.js"></script>
<script src="/assets/e3c9a0cd/vue.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!-- Placed js at the end of the document so the pages load faster -->


</body>

</html>
